##
## directory
##
.vs

.[Bb][Ii][Nn]
.[Bb][Uu][Ii][Ll][Dd]*
.[Dd][Ii][Ss][Tt]
.[Ll][Oo][Gg]
.[Ll][Oo][Gg][Ss]
.[Oo][Uu][Tt]
.[Pp][Uu][Bb][Ll][Ii][Cc]
.[Ss][Ee][Cc][Rr][Ee][Tt]
.[Ss][Ee][Cc][Rr][Ee][Tt][Ss]

[Bb][Ii][Nn]
[Bb][Uu][Ii][Ll][Dd]*
[Dd][Ii][Ss][Tt]
[Ll][Oo][Gg]
[Ll][Oo][Gg][Ss]
[Oo][Uu][]
[Pp][Uu][Bb][Ll][Ii][Cc]
[Ss][Ee][Cc][Rr][Ee][Tt]
[Ss][Ee][Cc][Rr][Ee][Tt][Ss]

.svelte-kit

node_modules
vendor/jsr.io

target


##
## extension
##
*.bak
*.bak.*
*.lib
*.dll
*.exe
*.a
*.o
*.so
*.dylib
*.framework

*config.h
*config.hh
*config.hpp
*config.js
*config.css
*config.scss
*export.h
*export.hh
*export.hpp
*variables.hh
*variables.hpp
*variables.js
*variables.ts
*version.h
*version.hh
*version.hpp
*version.js

*Zone.Identifier


##
## file
##
/.vscode/tasks.json
/.vscode/launch.json
/.vscode/settings.json


##
## internal
##
.tmp.md

config.*.json

!config.*.json.debug
!rollup.config.js
!svelte.config.js
!vite.config.js

/Cargo.lock
